@charset "utf-8";
/* CSS Document */

table.registro{
    font:Arial, Helvetica, sans-serif;
    align: center;
	width:100%;
    float:none;
    height: auto;
}
div.form_registro{
    width:100%;
    height:auto;
}

div.marco_registro{
    width:50%;
    alignment-adjust:central;
    background:#eaf3fa;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;	
    overflow:hidden;		
    padding:15px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;	
}

.boton{
    margin-left: 90px ;
        
}