@charset "utf-8";
/*CSS Document */
/*Etiquetas generales*/

	p,h1,form,table,label,input,div,textarea,select,li,ul{
		border:0;margin:0;padding:0;
	}
	td{
		font-family:Arial, Helvetica, sans-serif;
		font-weight:bold;
		text-align:left;
	}
	ul{
		list-style:none;
	}
	h1{	
		color:#060;
		text-shadow: 0 1px 0 rgba(255,255,255, 1);
		
		font-family:Arial, Helvetica, sans-serif;
		text-align:center;
		margin:10px 0px 0px 0px;
		font-size:32px;		
		padding-bottom:5px;
		font-weight:bold;
		font-size:200%;
		
	}
	
	#h1{
		
		color:#060;
		z-index:10;
		width:auto;
		margin:auto;
    	/*-webkit-box-shadow:0px 0 30px #000;
    	-moz-box-shadow:0px 0 30px #000; 
    	box-shadow:0px 0 30px #000;*/
		background:#5BB8C8 url(../img/utileria/overlay.png) repeat-x 0 -110px; 
		border-radius: 1em; 
		-webkit-border-radius: 5px;
	 	-moz-border-radius: 5px; 
	 	border-radius: 5px; 
	}
	
	a{
		text-decoration:none;
	}
	
	label{
		width:200px;
		color:#418eb6;
		font-size:20px;
		margin:5px 0 15px;
		font-family:Arial, Helvetica, sans-serif;
	}
	input,textarea,select{
		border:#235A16 1px solid;
		width:200px; 
		height:30px;	
		margin:0 0 5px 0;
		padding:5px;
		color:#29B5E9;
		font-size:20px;
		
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;		
	}
	input:focus,textarea:focus,select:focus{
		border: #0099FF 1px solid;
	}	
	textarea{
		font-family:Arial, Helvetica, sans-serif;
		height:60px;
                min-width:200px;
		min-height:60px;
		max-width:200px;
		max-height:60px;
	}
	select{
		width:auto;
		height:35px;
	}

	
        
	/*Encabezado de la pagina*/
	div.encabezado{
		height:70px;
		width:900px;
		color:#FFF;
		font-family:"Bauhaus 93", "Comic Sans MS";
		font-size:30px;
		/*position:fixed !important;*/
		-webkit-box-shadow:0px 0 50px #013D7B;
		-moz-box-shadow:0px 0 50px #013D7B; 
		box-shadow:0px 0 50px #013D7B;
		
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;		
                z-index:10;
	}
		
		div.mini_perfil{
                    
                    padding-top: 70px;
                    background-repeat: no-repeat;
                    width:750px;                        
                    margin:auto;                    
		}
		/*Perfil del usuario*/
		div.mini_perfil{
			width:750px;		
			margin:auto;
		}
		div.mini_perfil ul li{
			text-align:center;
			float:right;
			position:relative;
		}
		div.mini_perfil ul li img{		
			padding: 10px 15px 0px 15px;
			width:48px;
			height:48px;
		}
		div.mini_perfil ul li a{
			color:#FFF;
			background:#09F;	
			border:#4285B5 1px solid;		
			width:148px;
			height:53px;
			padding:15px 0px 0px 0px;
			display:block;
		}
		div.mini_perfil ul li a:hover{
			background: url(../img/utileria/bg-selected.gif); 
		}
		div.mini_perfil ul li ul{
			position:absolute;                        
			left:0;                        
			display:none;                        	
                }
                div.mini_perfil ul li ul li{
                    height: 30px;
                    font-size: 18px;
                    margin-top: 17px;                    
                }
                div.mini_perfil ul li ul li:first-child{
                    margin-top: 0px;
                }
                div.mini_perfil ul li ul li img{
                    height: 30px;                    
                    
                }                
                div.mini_perfil ul li ul li a{
                    padding:7px 0px 8px 0px;
                    height: 100%;                    
                }
                div.mini_perfil ul li ul li a:hover{
                    
                    background: #013D7B;
                }
		div.mini_perfil ul li:hover ul{
                        display:block;
			background:#013D7B;
                }
                div.mini_perfil ul li:hover ul li{
                    display:block;
                        height: 30px;
		}

	/*Contenido de la pagina*/
	div.contenido{
		margin:auto;
                margin-top: 10px;
		padding-top:50px;
		width:748px;                
	}
		/*Marco*/
		div.marco{
			background:#eaf3fa;
			margin:auto;
			margin-top:10px;
			margin-bottom:10px;	
			overflow:hidden;		
			padding:15px;
/*					margin:10px 0px 10px 0px;*/
			
			border-radius:10px;
			-moz-border-radius:10px;
			-webkit-border-radius:10px;	
		}
		/*Marco interno*/
		div.marco_interno{
			background:#94D7F4;
			margin:auto;
			margin-top:20px;
			margin-bottom:20px;	
			overflow:hidden;		
			padding:15px;
						
			border-radius:10px;
			-moz-border-radius:10px;
			-webkit-border-radius:10px;	
			
		}
		
	a input.boton{
		
	}
		
		
		
		
.boton, #iniciar{
	padding-bottom:30px;
	font-size:18px;
	font-family:"Comic Sans MS", cursive;
	width:180px;
	/* A semi-transparent text shadow */
	text-shadow:1px 1px 0 rgba(255,255,255,0.4);
	
	/* Overriding the default underline styling of the links */
	text-decoration:none;
	white-space:nowrap;
	
	display:inline-block;
	vertical-align:baseline;
	position:relative;
	cursor:pointer;
	
	background-repeat:no-repeat;

	/* The following two rules are fallbacks, in case
	   the browser does not support multiple backgrounds. */

	background-position:bottom left;
	background-image:url(../img/utileria/button_bg.png);
	
	/* Multiple backgrounds version. The background images
	   are defined individually in color classes */
	
	background-position:bottom left, top right, 0 0, 0 0;
	background-clip:border-box;
	
	/* Applying a default border raidus of 8px */
	-moz-border-radius:4em;
	-webkit-border-radius:4em;
	border-radius:4em;
	/* A 1px highlight inside of the button */
	
	-moz-box-shadow:0 0 1px #fff inset;
	-webkit-box-shadow:0 0 1px #fff inset;
	box-shadow:0 0 1px #fff inset;
	
	/* Animating the background positions with CSS3 */
	/* Currently works only in Safari/Chrome */
	
	-webkit-transition:background-position 1s;
	-moz-transition:background-position 1s;
	transition:background-position 1s;
	color:#060 !important;
	border:1px solid #a9adb1 !important;	
	/*background-color: #e38d27;*/
	
	background-color: #a9adb1;
	
	background-image:url(../img/utileria/button_bg.png), url(../img/utileria/button_bg.png), -moz-radial-gradient(center bottom, circle, rgba(197,199,202,1) 0,rgba(197,199,202,0) 100px),-moz-linear-gradient(#c5c7ca, #92989c);
	background-image:url(../img/utileria/button_bg.png), url(../img/utileria/button_bg.png), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(197,199,202,1)), to(rgba(197,199,202,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#c5c7ca), to(#92989c));
}

.boton#verde:hover{
	background-position:top left;
	background-position:top left, bottom right, 0 0, 0 0;
	background-color:#89d228;
	border:1px solid #89d228 !important;
	background-image:url(../img/utileria/button_bg.png), url(../img/utileria/button_bg.png), -moz-radial-gradient(center bottom, circle, rgba(183,229,45,1) 0,rgba(183,229,45,0) 100px),-moz-linear-gradient(#90de31, #7fc01e);
	background-image:url(../img/utileria/button_bg.png), url(../img/utileria/button_bg.png), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(183,229,45,1)), to(rgba(183,229,45,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#90de31), to(#7fc01e));
}

.boton:active, #inicar:active {
	/* Moving the button 1px to the bottom when clicked */
	bottom:-1px;
}

.boton#naranja:hover {
	background-position:top left;
	background-position:top left, bottom right, 0 0, 0 0;
	background-color:#ec9732;
	border:1px solid #ec9732 !important;
	background-image:url(../img/utileria/button_bg.png), url(../img/utileria/button_bg.png), -moz-radial-gradient(center bottom, circle, rgba(241,192,52,1) 0,rgba(241,192,52,0) 100px),-moz-linear-gradient(#f9a746, #e18f2b);
	background-image:url(../img/utileria/button_bg.png), url(../img/utileria/button_bg.png), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(241,192,52,1)), to(rgba(241,192,52,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9a746), to(#e18f2b));
}

.boton#azul:hover, .boton#acceder:hover, #iniciar:hover {
	border:1px solid #63c7fe !important;
	background-color:#63c7fe;
	background-position:top left, bottom right, 0 0, 0 0;
	background-image:	url(../img/utileria/button_bg.png), url(../img/utileria/button_bg.png),
						-moz-radial-gradient(	center bottom, circle,
												rgba(109,217,250,1) 0,rgba(109,217,250,0) 100px),
						-moz-linear-gradient(#63c7fe, #58bef7);
						
	background-image:	url(../img/utileria/button_bg.png), url(../img/utileria/button_bg.png),
						-webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
											from(rgba(109,217,250,1)), to(rgba(109,217,250,0))),
						-webkit-gradient(linear, 0% 0%, 0% 100%, from(#63c7fe), to(#58bef7));
}



		/*.boton{
			margin:10px 0 0 10px;
			width:150px;
			height:30px;
			background: #7AB5E2;
			padding: 5px 10px;
			color: white;
			font-size: 16px;
			text-decoration: none;
			vertical-align: middle;
						
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;			
		}
		.boton:hover {
			border-top-color: #28597a;
			background: #013D7B;
			color:#d0e8f7
		}*/
	
	/*Pie de pagina*/
	div.pie{
		background:#013D7B;
		height:100px;		
	}
	/*Utileria*/
	div.clearboth{
		clear:both;
	}
        img[alt]{
            font-size: 9px;
        }
	div.error{
		color:#F00;
		font-size:16px;
		text-align:center;			
		width:100%;
	}
	div.exito{
		color:#013D7B;
		font-size:16px;
		text-align:center;
		width:100%;
	}
	div.aviso{
		color:#418EB6;
		font-size:18px;
		text-align:center;
		width:100%;
		padding-bottom:10px;
	
	}        
        #menu_adm {          
        	-webkit-box-shadow:0px 0 50px #FFF;
        	-moz-box-shadow:0px 0 50px #FFF; 
            box-shadow:0px 0 50px #FFF;
            box-shadow: 0px 0px 32px 32px #0099FF;
        }
        a.boton{
            float: right;
            width: 70px;
            height: 20px;
        }
        caption a.boton{
            width: 120px;
        }
        div.div_buscador{
            width: 220px;
            margin: auto;
        }