	body{
		color:#119E00;/*color:#418eb6;		*/
	}
	h1{
		margin:10px 0 0 0;
		font-size:32px;
	}
	h2{
		text-align:center;
	}
	a{
		color:#119E00;/*#418eb6;*/
		text-decoration:none;
	}
	label{
            color: #119E00;
            width:150px;
            font-size:15px;
	}
	input,textarea,select{
		border:#B8E186 1px solid;
		width:180px; 
		height:30px;	
		margin:0 0 5px 0;
		padding:5px;
                color:#119E00;
		/*color:#29B5E9;*/
		font-size:15px;
		
		border-radius:10px;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;		
	}	
	
	#span_registro{
		text-align:center;
		font-size:18px;
		border-bottom:1px solid #119E00;
	}
	p{	
		text-align:center;
		margin:0 0 30px 0;
		padding:0 0 5px 0;
		font-size:16px;
		border-bottom:1px solid #cfe0e9;
	}
	table{
		margin:auto;
		width:150px;
	}
	div.marco{
		width:240px;	
	}	
	div.form_login{
		width:230px;
		float: right;
	}
	input[type="checkbox"]{
		float:left;
		width:20px;
		height:20px;
	}	
	span{
		font-size:12px; 
		display:block; 
	}

	.boton{
		margin:10px 0 0 30px;
		width:100px;
		font-size:14px;
	}
	#highlight {
		float:left;
	}
        div .slogan a{
            margin: auto;
            margin-left: 170px;
            font-size: 80px;
            color: #119E00;
        }        