/* 
    Document   : css_principal
    Created on : 20/01/2013, 01:42:06 AM
    Author     : Angel
    Description:
        Purpose of the stylesheet follows.
*/

#actividad{
    background: #0099FF;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
    width: 815px;
    height: 600px;
}

.clean-gray{
	border:solid 1px #DEDEDE;
	font-family:"Comic Sans MS", cursive;
	background:#060 url(../img/utileria/overlay.png) repeat-x -110px;
	z-index:999;
	color:#030;
	font-size:130%;
	font-weight:bold;
	padding:4px;
	text-align:center;
	margin-bottom:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px; 
	border-radius: 10px; 
	width:95%;
}