
body {position: relative;
     /*margin: auto;*/
}
#contenedorAct{
    position: relative;
    width:800px;
    height:537px;
    /*background:url('../img/act1_1b/background.pool.png');*/
    margin-left: 3px;
    left: 2px;
}
#pared {
    background: url(../img/act1_2b/fondoLimpio.png) no-repeat left bottom;
    /*margin-left: 80px;*/
    top:0px;
    width: 800px; 
    height: 537px;
    z-index: 1;
}
#paredPintada {
    background: url(../img/act1_2b/fondoPintado.png) no-repeat left bottom;
    position:relative; 
    top: 32px; 
    left: 0px;
    width: 40px; 
    height: 0px; 
    z-index:2;
}
#paredPintada2 {
    background: url(../img/act1_2b/fondoPintado.png) no-repeat left bottom;
    position:relative; 
    top: 32px;
    margin-left: 800px;
    left: 0px;
    width: 0px; 
    height: 40px; 
    z-index:3;
}
#pintor {
    /*background: url(../img/act1_2a/podador.gif) no-repeat left bottom;*/
    position: relative;
    margin-left: 630px;
    position:relative; 
    top: -50px;
    /*height: px;*/
    width: 220px;
    z-index:4;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

#flip{
                -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
/*.actividad{
    margin: auto;
    padding: 100px;
}*/

.fadebox {
    display: none;
    position: absolute;
    top: 0px;
    width:800px;
    height:537px;
/*    width: 100%;
    height: 100%;*/
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
/*.overbox {
    display: none;
    position: relative;
    
    top: 25%;
    left: 25%;
background: darkgreen;
    width: 50%;
    height: 50%;
    z-index:1002;
    overflow: auto;
}*/
