@charset "utf-8";
/* CSS Document */


#contenedorAct{    
    position: relative;
    width:800px;
    height:456px;
    background:url('../img/act1_3b/fondo_acuario.jpg');
    margin-left: 3px;
    left: 2px;


}


.fadebox {
    display: none;
    position: absolute;
    top: 0px;
    width:800px;
    height:456px;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.fadebox #iniciar{
    position: relative;
    margin: auto;
    margin-top: 150px;
    /*margin-left: 45%;*/
}


body {
    text-align: center;
    text-align: center;
    padding: 20px;


}


#segmento{
    position: relative;
    float: left;
    height: 264px;
    width: 10px;
    left: -60px;
    top: 75px;

}

.pecera{
    position: absolute;
    z-index: 2;

    height: 350px ;
    width: 600px;
    margin-top: 100px;
    margin-left: -25px;

}
/*The container the character goes in for easy placement*/
#Acuario{
    position: relative;
    height: 456px;
    width: 640px;
    margin-left:  150px; 


}

/*Prevents spillover from middle layer moving up*/
#contenedorAcuario{
    position: relative;
    overflow: hidden;
    height: 370px;
    width: 650px;
    left: -70px;
    top: 10px;
}
/*The middle layer container, hiding base image initially*/
#capaAcuario{
    position:absolute;
    z-index: 1;
}
/*White div in #dudeoverlay that fill space the edge image doesn't*/
#capaBloquear{
    height: 310px;
    width: 555px;
    background: url('../img/act1_3b/opacidad.png');
    -moz-opacity: .35;
    opacity:.35;
    margin-left: 55px;
    margin-top: 15px;
}


#agua{
    height: 270px;
    width: 476px;
}


#img_pecera{

    margin-left: 25px;
    margin-top: -130px;
    height: 385px;
    width: 630px;

}


#img_agua{

    margin-left: 10px;
    margin-top: 0px;
    height: 340px;
    width: 560px;



}